<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://funapp2tablestoragewithqueueblobtriggers.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3ba3b1ee-cdf6-4ce2-918d-4346318d33ac/resourcegroups/functionapp_vs_publish_tablestorage_queue_blob_rg/providers/Microsoft.Web/sites/FunApp2TableStoragewithQueueBlobTriggers</ResourceId>
    <UserName>$FunApp2TableStoragewithQueueBlobTriggers</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://funapp2tablestoragewithqueueblobtriggers.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>